*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

$color1:#24368c;
$color2:#b6234b;
$color3:#373737;
$color4:#ededed;

/* ------------------- GENERAL ------------------ */
.margenDerecho{
    margin-right: 0px;
}
#azul{
    color: $color1;
}
#rojo{
    color: $color2;
}
#negro{
    color: $color3;
}

#fondoOscuro{
    background-color: $color3;
}

#fondoRojo{
    background-color: $color2;
}

#fondoAzul{
    background-color: $color1;
}
/* ---------------------------NAVBAR---------------------------- */


.enLineaNavbar{
    list-style-type: none;

    li{
        margin-left: 20px;
    }
}

#navbarFM{
    padding: 5px;
}

.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}

#logoFM{
    width: 300px;
}

#navbarContacto{
    background-color: $color1;
    color: white;

    i{
        padding: 0;
    }
}

#collapsibleNavbar{
    justify-content: flex-end;
}

/* --------------------------- SECCIÓN ---------------------------- */

#seccion{
    padding: 1rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    background-color: $color3;
}


 /* -------------------------- INDEX ----------------------------- */   

 /* ---- CAROUSEL ---- */
#carouselSize{
    width: 100%;
    height: 600px;
}

.carousel-indicators li{
    height: 15px;
    background-color: $color1;
    border: $color3;
}

$base-color: #24368c;  

@for $in from 1 through 3 {

    #bucle-#{$in} {
        // border-color: $color2;
        border-bottom: solid 4px;
        border-color: lighten($base-color, $in * 15%);
    }
}

$redes: (
    red1: rgb(232, 102, 16),
    red2: #24368c,
    red3: rgb(235, 235, 34),
    );

@each $red, $font in $redes  {
    .box--#{$red}{
        background-color: rgb(55, 55, 55, 0.5);
        // height: 100px;
        // width: 75%;
        border-bottom: 3px solid $font;
        text-align: center;
        font-size: 30px;
        color:#ededed;
        text-transform: uppercase;
        border-radius: 2px;
        justify-content: center;
        align-items: center;
    }
}



.containerFlexImg{
    height: 80%;
    width: 80%;
    padding: 1rem;
    border: $color2 solid 2px;
    border-radius: 20%;
}

.estiloMVV{
    padding-left: 1rem;
    border-left: $color1 solid 4px;
}

.seccionExperiencias{
    background-image: url(../Multimedia/family1.jpg);
    background-color: rgb(70, 70, 70);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}



/* ---------------------------   NOSOTROS   ------------------------------ */
#deLaMano{
    height: 200px;
    width: 200px;
    background-image: url(../multimedia/delamano.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: $color1 solid 3px;
    margin-bottom: 3px;
}

// @mixin rectangulo {
//     background-color: $color3;
//     opacity: .5;
//     width: 400px;
//     height: 200px;
//     text-align: center;
//     color: $color4;
// }

// .rectangulo1{
//     @include rectangulo()

// }
// .rectangulo2{
//     border-bottom: $color2 solid 2px;
// }

// .rectangulo3{
//     border-bottom: $color4 solid 2px;
// }

.clientesBox{
    width: 200px;
    transition: box-shadow .3s;
    background-color: $color4;
}
.clientesBox:hover{
    box-shadow: 0px 10px 10px $color3;
}





/* --------------------------- CONTACTO ---------------------------- */

#mapaContacto{
    padding: 0;
    margin: 0;
    width: 99vw;
    height: 70vh;
}

/* --------------------------- SINIESTROS ---------------------------- */



input{
    transition: all 1s;
}

input:focus{
    font-size: 24px;
    border: 3px solid $color2;
    color: $color1;
}

/* --------------------------- SERVICIOS ---------------------------- */

.card{
    border-top: $color1 solid 3px;
    border-bottom: $color2 solid 3px;
    border-radius: 3%;
}



/* ---------------------------   FOOTER   ------------------------------ */ 

.footerFM{
    background-image: url(../multimedia/fondos/fondo-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: $color2;
    color: white;
    a{
        color: white;
        text-decoration: none;
        list-style-type: none;
    }
    div{
        padding: 1.5rem;
    }
    h4{
        font-weight: bolder;
    }
}

.seguinos{
    font-size: 3rem;
    li{
        list-style-type: none;
    }
}
